<div class="utility-buttons grid grid-12col">
	<button class="apply-full-damage grid-span-4" title="Apply Full Damage"><i class="fa-solid fa-explosion"></i></button>
	<button class="apply-damage-defense grid-span-4" title="Apply Damage with Barrier"><i class="fa-solid fa-shield-heart"></i></button>
	<button class="apply-healing grid-span-4" title="Apply Healing"><i class="fa-solid fa-heart"></i></button>
</div>